
*.pyc
src/*.c
build/
dist/

metAMOS.egg-info/
phylosift/
AMOS/
FastQC/
KronaTools/

Utilities/DB
Utilities/DB/allprots.faa
Utilities/DB/blast_data/
Utilities/DB/refseq_protein.00.phr
Utilities/DB/refseq_protein.00.tar.gz
Utilities/DB/refseq_protein.pal
Utilities/DB/uniprot_hypothetical_set
Utilities/DB/uniprot_sprot.dat
Utilities/DB/uniprot_sprot.fasta
Utilities/DB/uniprot_sprot.fasta.phr
Utilities/DB/uniprot_sprot.fasta.pin
Utilities/DB/uniprot_sprot.fasta.psd
Utilities/DB/uniprot_sprot.fasta.psi
Utilities/DB/uniprot_sprot.fasta.psq
Utilities/DB/uniprot_sprot_enz_set
Utilities/DB/uniprot_sprot_enz_set.putative
Utilities/DB/uniprot_sprot_non_enz_set
Utilities/DB/uniprot_sprot_non_enz_set.putative
Utilities/config/usage.ok
Utilities/cpp/Linux-x86_64/metaphylerClassify
Utilities/models/
Utilities/perl/metaphyler/
Utilities/python/lib/
Utilities/python/psutil/
Utilities/python/pysam/
CA/
LAP/
Utilities/cpp/Linux-x86_64/ALE/
Utilities/cpp/Linux-x86_64/FRCbam/
Utilities/cpp/Linux-x86_64/MaSuRCA/
Utilities/cpp/Linux-x86_64/MetaVelvet/
Utilities/cpp/Linux-x86_64/REAPR/
Utilities/cpp/Linux-x86_64/Ray/
Utilities/cpp/Linux-x86_64/abyss/
Utilities/cpp/Linux-x86_64/cgal/
Utilities/cpp/Linux-x86_64/eautils/
Utilities/cpp/Linux-x86_64/edena/
Utilities/cpp/Linux-x86_64/freebayes/
Utilities/cpp/Linux-x86_64/kmergenie/
Utilities/cpp/Linux-x86_64/kraken/
Utilities/cpp/Linux-x86_64/mira/
Utilities/cpp/Linux-x86_64/prokka/
Utilities/cpp/Linux-x86_64/sga/
Utilities/cpp/Linux-x86_64/soap2/
Utilities/cpp/Linux-x86_64/spades/
Utilities/cpp/Linux-x86_64/sra/
Utilities/cpp/Linux-x86_64/velvet-sc/
Utilities/cpp/Linux-x86_64/velvet/
Utilities/cpp/Linux-x86_64/prokka/
Utilities/cpp/Linux-x86_64/bowtie*

Utilities/cpp/Darwin-x86_64

quast/


runPipeline
initPipeline
allfiles.txt
ec.krona.html
formatdb.log
ftp.out
matplotlib.tar.gz
metaphyler.tar.gz
